@model Reseller.Models.Estate
@{ ViewData["Title"] = "Emlak Ekle";
    Layout = "_AdminLayout.cshtml"; }

@using Reseller.Controllers

<h3 class="text-center mt-5">Emlak Ekleme Sayfası</h3>
<br />

<form class="p-1 m-1" method="post">



    <div class="mt-3">
        <div class="input-group-prepend">
            <label class="input-group-text" for="EstateCategory">Emlak Kategorisi</label>
        </div>
        <select id="EstateCategory" name="EstateCategory" class="custom-select" required>
            <option value="" selected disabled>Kategori seçimi yapınız...</option>
            <option asp-for="EstateCategory" name="Konut" value="Konut">Konut</option>
            <option asp-for="EstateCategory" name="IsYeri" value="IsYeri">İş Yeri</option>
            <option asp-for="EstateCategory" name="Arsa" value="Arsa">Arsa</option>
            <option asp-for="EstateCategory" name="Bina" value="Bina">Bina</option>
            <option asp-for="EstateCategory" name="Tesis" value="Tesis">Turistik Tesis</option>
        </select>
    </div>
    <br />
    <br />
    <br />

    <div class="mt-3">
        <div class="input-group-prepend">
            <label class="input-group-text" for="StatusInfo">Durum</label>
        </div>
        <select id="StatusInfo" name="StatusInfo" class="custom-select" required>
            <option value="" selected disabled>Kiralık/Satılık seçimi yapınız...</option>
            <option asp-for="StatusInfo" name="Kiralık" value="Kiralık">Kiralık</option>
            <option asp-for="StatusInfo" name="Satılık" value="Satılık">Satılık</option>
        </select>
    </div>

    <br />
    <br />
    <br />

    <div class="mt-3">
        <div class="input-group">
            <div class="input-group-prepend">
                <span class="input-group-text">Emlak İlan Adı</span>
            </div>
            <textarea asp-for="EstateName" class="form-control" aria-label="With textarea" required></textarea>
        </div>
    </div>
    <br />

    <div class="mt-3">
        <div class="input-group">
            <div class="input-group-prepend">
                <span class="input-group-text">Ayrıntılı Bilgi</span>
            </div>
            <textarea asp-for="EstateInfo" class="form-control" aria-label="With textarea" required></textarea>
        </div>
    </div>
    <br />


    <div class="mt-3">
        <div class="input-group-prepend">
            <label class="input-group-text" for="City">Konum</label>
        </div>
        <select id="City" name="City" class="custom-select" required>
            <option value="" selected disabled>Şehir...</option>
            <option asp-for="City" name="Adana" value="Adana">Adana</option>
            <option asp-for="City" name="Adıyaman" value="Adıyaman">Adıyaman</option>
            <option asp-for="City" name="Afyonkarahisar" value="Afyonkarahisar">Afyonkarahisar</option>
            <option asp-for="City" name="Ağrı" value="Ağrı">Ağrı</option>
            <option asp-for="City" name="Aksaray" value="Aksaray">Aksaray</option>
            <option asp-for="City" name="Amasya" value="Amasya">Amasya</option>
            <option asp-for="City" name="Ankara" value="Ankara">Ankara</option>
            <option asp-for="City" name="Antalya" value="Antalya">Antalya</option>
            <option asp-for="City" name="Ardahan" value="Ardahan">Ardahan</option>
            <option asp-for="City" name="Artvin" value="Artvin">Artvin</option>
            <option asp-for="City" name="Aydın" value="Aydın">Aydın</option>
            <option asp-for="City" name="Balıkesir" value="Balıkesir">Balıkesir</option>
            <option asp-for="City" name="Bartın" value="Bartın">Bartın</option>
            <option asp-for="City" name="Batman" value="Batman">Batman</option>
            <option asp-for="City" name="Bayburt" value="Bayburt">Bayburt</option>
            <option asp-for="City" name="Bingöl" value="Bingöl">Bingöl</option>
            <option asp-for="City" name="Bitlis" value="Bitlis">Bitlis</option>
            <option asp-for="City" name="Bolu" value="Bolu">Bolu</option>
            <option asp-for="City" name="Burdur" value="Burdur">Burdur</option>
            <option asp-for="City" name="Bursa" value="Bursa">Bursa</option>
            <option asp-for="City" name="Çanakkale" value="Çanakkale">Çanakkale</option>
            <option asp-for="City" name="Çankırı" value="Çankırı">Çankırı</option>
            <option asp-for="City" name="Çorum" value="Çorum">Çorum</option>
            <option asp-for="City" name="Denizli" value="Denizli">Denizli</option>
            <option asp-for="City" name="Diyarbakır" value="Diyarbakır">Diyarbakır</option>
            <option asp-for="City" name="Düzce" value="Düzce">Düzce</option>
            <option asp-for="City" name="Edirne" value="Edirne">Edirne</option>
            <option asp-for="City" name="Elazığ" value="Elazığ">Elazığ</option>
            <option asp-for="City" name="Erzincan" value="Erzincan">Erzincan</option>
            <option asp-for="City" name="Erzurum" value="Erzurum">Erzurum</option>
            <option asp-for="City" name="Eskişehir" value="Eskişehir">Eskişehir</option>
            <option asp-for="City" name="Gaziantep" value="Gaziantep">Gaziantep</option>
            <option asp-for="City" name="Giresun" value="Giresun">Giresun</option>
            <option asp-for="City" name="Gümüşhane" value="Gümüşhane">Gümüşhane</option>
            <option asp-for="City" name="Hakkâri" value="Hakkâri">Hakkâri</option>
            <option asp-for="City" name="Hatay" value="Hatay">Hatay</option>
            <option asp-for="City" name="Iğdır" value="Iğdır">Iğdır</option>
            <option asp-for="City" name="Isparta" value="Isparta">Isparta</option>
            <option asp-for="City" name="İstanbul" value="İstanbul">İstanbul</option>
            <option asp-for="City" name="İzmir" value="İzmir">İzmir</option>
            <option asp-for="City" name="Kahramanmaraş" value="Kahramanmaraş">Kahramanmaraş</option>
            <option asp-for="City" name="Karabük" value="Karabük">Karabük</option>
            <option asp-for="City" name="Karaman" value="Karaman">Karaman</option>
            <option asp-for="City" name="Kars" value="Kars">Kars</option>
            <option asp-for="City" name="Kastamonu" value="Kastamonu">Kastamonu</option>
            <option asp-for="City" name="Kayseri" value="Kayseri">Kayseri</option>
            <option asp-for="City" name="Kilis" value="Kilis">Kilis</option>
            <option asp-for="City" name="Kırıkkale" value="Kırıkkale">Kırıkkale</option>
            <option asp-for="City" name="Kırklareli" value="Kırklareli">Kırklareli</option>
            <option asp-for="City" name="Kırşehir" value="Kırşehir">Kırşehir</option>
            <option asp-for="City" name="Kocaeli" value="Kocaeli">Kocaeli</option>
            <option asp-for="City" name="Konya" value="Konya">Konya</option>
            <option asp-for="City" name="Kütahya" value="Kütahya">Kütahya</option>
            <option asp-for="City" name="Malatya" value="Malatya">Malatya</option>
            <option asp-for="City" name="Manisa" value="Manisa">Manisa</option>
            <option asp-for="City" name="Mardin" value="Mardin">Mardin</option>
            <option asp-for="City" name="Mersin" value="Mersin">Mersin</option>
            <option asp-for="City" name="Muğla" value="Muğla">Muğla</option>
            <option asp-for="City" name="Muş" value="Muş">Muş</option>
            <option asp-for="City" name="Nevşehir" value="Nevşehir">Nevşehir</option>
            <option asp-for="City" name="Niğde" value="Niğde">Niğde</option>
            <option asp-for="City" name="Ordu" value="Ordu">Ordu</option>
            <option asp-for="City" name="Osmaniye" value="Osmaniye">Osmaniye</option>
            <option asp-for="City" name="Rize" value="Rize">Rize</option>
            <option asp-for="City" name="Sakarya" value="Sakarya">Sakarya</option>
            <option asp-for="City" name="Samsun" value="Samsun">Samsun</option>
            <option asp-for="City" name="Şanlıurfa" value="Şanlıurfa">Şanlıurfa</option>
            <option asp-for="City" name="Siirt" value="Siirt">Siirt</option>
            <option asp-for="City" name="Sinop" value="Sinop">Sinop</option>
            <option asp-for="City" name="Sivas" value="Sivas">Sivas</option>
            <option asp-for="City" name="Şırnak" value="Şırnak">Şırnak</option>
            <option asp-for="City" name="Tekirdağ" value="Tekirdağ">Tekirdağ</option>
            <option asp-for="City" name="Tokat" value="Tokat">Tokat</option>
            <option asp-for="City" name="Trabzon" value="Trabzon">Trabzon</option>
            <option asp-for="City" name="Uşak" value="Uşak">Uşak</option>
            <option asp-for="City" name="Van" value="Van">Van</option>
            <option asp-for="City" name="Yalova" value="Yalova">Yalova</option>
            <option asp-for="City" name="Yozgat" value="Yozgat">Yozgat</option>
            <option asp-for="City" name="Zonguldak" value="Zonguldak">Zonguldak</option>
        </select>
    </div>
    <br />
    <br />
    <br />

    <div class="mt-3">
        <div class="input-group">
            <div class="input-group-prepend">
                <span class="input-group-text">Adres</span>
            </div>
            <textarea asp-for="LocationName" class="form-control" aria-label="With textarea" required></textarea>
        </div>
    </div>
    <br />

    <div class="mt-3">
        <div class="input-group">
            <div class="input-group-prepend">
                <span class="input-group-text">Fiyat</span>
            </div>
            <textarea asp-for="EstatePrice" class="form-control" aria-label="With textarea" required></textarea>
        </div>
    </div>
    <br />


    <input type="file" asp-for="EstatePicture" name="EstatePicture" required />



    <!--

    <b>Tablolu sorular için fotoğraf ekleyebilirsiniz (.jpeg ve .png uzantılı dosyalar kabul edilmektedir)</b>
        <br />
        <input id="fileInput" type="file" name="postedFile" accept="audio/*,image/*" />

        <br />
        -->

    <button id="btnSaveForReading" type="submit" class="btn btn-success btnSaveForReading" style="float: right;">Kaydet</button>

    <br />
    <br />
</form>

