<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Reseller</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" />
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
            <div class="container">
                <a class="navbar-brand" asp-area="" asp-page="/Index">Reseller</a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse d-sm-inline-flex flex-sm-row-reverse">
                    <ul class="navbar-nav flex-grow-1">
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-page="/Index">Anasayfa</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-controller="User" asp-action="Login">Giriş Yap </a>
                        </li>

                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">Admin</a>
                            <div class="dropdown-menu">
                                <a class="nav-link text-dark" asp-controller="User" asp-action="Register">Kayıt Ol</a>
                                <a class="nav-link text-dark" asp-controller="User" asp-action="Login">Giriş Yap </a>
                            </div>
                        </li>

                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">Satıcı</a>
                            <div class="dropdown-menu">
                                <a class="nav-link text-dark" asp-controller="User" asp-action="RegisterSeller">Kayıt Ol</a>
                                <a class="nav-link text-dark" asp-controller="User" asp-action="Login">Giriş Yap </a>
                            </div>
                        </li>

                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">Alıcı</a>
                            <div class="dropdown-menu">
                                <a class="nav-link text-dark" asp-controller="User" asp-action="RegisterBuyer">Kayıt Ol</a>
                                <a class="nav-link text-dark" asp-controller="User" asp-action="Login">Giriş Yap </a>
                            </div>
                        </li>
                        @*<li class="nav-item">
            <a class="nav-link" data-toggle="collapse" href="#b" aria-expanded="false" aria-controls="ui-basic">
                <span class="menu-title">Admin</span>
                <i class="menu-arrow"></i>
            </a>
            <div class="collapse" id="b">
                <ul class="nav flex-column sub-menu">
                    <li class="nav-item"> <a class="nav-link text-dark" asp-controller="User" asp-action="Register">Kayıt Ol</a></li>
                    <li class="nav-item"> <a class="nav-link text-dark" asp-controller="User" asp-action="Login">Giriş Yap </a></li>
                </ul>
            </div>
        </li>*@
                        @*<li class="nav-item">
                            <a class="nav-link" data-toggle="collapse" href="#c" aria-expanded="false" aria-controls="ui-basic">
                                <span class="menu-title">Satıcı</span>
                                <i class="menu-arrow"></i>
                            </a>
                            <div class="collapse" id="c">
                                <ul class="nav flex-column sub-menu">
                                    <li class="nav-item"> <a class="nav-link text-dark" asp-controller="User" asp-action="RegisterSeller">Kayıt Ol</a></li>
                                    <li class="nav-item"> <a class="nav-link text-dark" asp-controller="User" asp-action="Login">Giriş Yap </a></li>
                                </ul>
                            </div>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" data-toggle="collapse" href="#d" aria-expanded="false" aria-controls="ui-basic">
                                <span class="menu-title">Alıcı</span>
                                <i class="menu-arrow"></i>
                            </a>
                            <div class="collapse" id="d">
                                <ul class="nav flex-column sub-menu">
                                    <li class="nav-item"> <a class="nav-link text-dark" asp-controller="User" asp-action="RegisterBuyer">Kayıt Ol</a></li>
                                    <li class="nav-item"> <a class="nav-link text-dark" asp-controller="User" asp-action="Login">Giriş Yap </a></li>
                                </ul>
                            </div>
                        </li>*@
                        @*<li class="nav-item">
            <a class="nav-link text-dark" asp-controller="User" asp-action="Register">Kayıt Ol</a>
        </li>*@
                        @*<li class="nav-item">
            <a class="nav-link text-dark" asp-controller="User" asp-action="RegisterSeller">Satıcı Kayıt İşlemi</a>
        </li>
        <li class="nav-item">
            <a class="nav-link text-dark" asp-controller="User" asp-action="RegisterBuyer">Alıcı Kayıt İşlemi</a>
        </li>*@
                    </ul>
                </div>
            </div>
        </nav>
    </header>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer text-muted">
        <div class="container">
            &copy; 2022 - Reseller - <a asp-area="" asp-page="/Privacy">Privacy</a>
        </div>
    </footer>

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>

    @RenderSection("Scripts", required: false)
</body>
</html>
